.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input_box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
}

.input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(223, 211, 195, 0.8);
    outline: none;
}

.input_submit {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    background-color: #F8EDE3;
    color: #85586F;
    transition: 0.2s all;
    font-weight: bold;
}

.input_submit:hover {
    background-color: #85586F;
    color: #F8EDE3;
}

.input_submit:active {
    transform: scale(0.8);
}

.todos {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0;
}